<!doctype html>
<html lang="en">
  <head>
    <script src="https://cmp.osano.com/16BZ3BS1vk4So2Nnf/8e86fe5d-477e-48ae-8ed0-d995d847f6b9/osano.js"></script>
    
            <!-- Favicon -->
        <link rel="shortcut icon" href="#" />
        <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/images/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    <!-- Required meta tags -->
       <link rel="stylesheet" href="/css/homepage.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="Blue Dot Web Design">
        <meta name="description" content="Freelance Web Design solutions for businesses of all sizes">
        <meta name="keywords" content="web design, landing page, cms, ecommerce, webpage design, web develoment">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
       
      <title>Blue Dot Web Design -  Bedfordshie, Hertfordshire and London.</title>
      <meta name="Description" content="Professional Freelance Web Design -  a freelance web developer in and around Bedfordshie, Hertfordshire and London. able to tailor online solutions for start-ups, companies or individulals.">
      <meta name="Keywords" content="web design		, website design		, website builder		, web developer		, web designer		, webdesign		, ecommerce website		, web design company		, website creator		, website designer		, responsive web design		">
  </head>
  <body class="body">
    
    
    <div class="navContainer">
      <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <a href="/" class="navbar-brand">Blue Dot Web Design</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navLinks">
            <ul class=" nav navbar-nav navbar-left">
              <li class="nav-item active text-light">
                <a class="nav-link " href="/">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/portfolio">Portfolio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/pricing">Pricing</a>
            </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
              <li class="phone px-2">+44 7903 390 425</li>
            </ul>
        </div>
      </nav>
    </div>