<%- include("partials/header") %>


<section id="contact" class="container  w-75">
  
  <div class="container">
    <h1>404 version 2</h1>
    <h3>OOPS! You appear to have gotten a little lost!!! Try the link below:</h3>
    <a href="/"><img src="/images/logo.png" alt="" id="logo404">
    </a>
    
    <button type="button" class="btn btn-default btn-lg" href="/">Go To Website</button>
  </div>

</section>

    <%- include("partials/footer") %>