<%- include("partials/header") %>
<section id="services" class="container">
    <canvas id="myCanvas" resize></canvas>
      <h1>About</h1>
    <div class="row text-centre p-0">
        <div class="col-sm-12 col-md-6" id="about">
            <h3>About us</h3>
            <p>It has been said that our role in life is to leave the world, and every situation, a little better than it was when we arrived. Everyone at Blue Dot Web Design work tirelessly to improve our client’s digital footprint. We seek to fully understand your organisation’s core reason for doing what you do which enables us to effectively become part of your organisation for a while. Working this way will maximise your website’s impact. </p>
        </div>
        <div class="col-sm-12 col-md-6" id="about">
            <h3>The original Blue Dot</h3>
            <h5>Our company name is inspired by this original image captured by the spacecraft Cassini which included a collection of pale blue pixels (Earth) that included the entirety of humanity in one breath-taking image.</h5>
            <a href="/"><img src="https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2013/07/cassini_s_pale_blue_dot/12960296-1-eng-GB/Cassini_s_Pale_Blue_Dot_pillars.jpg" class="img-responsive" alt="origional pale blue dot"></a>
        </div>
    </div>
    <div class="row text-block p-0">
        <div class="col-sm-12 col-md-6" id="about">
            <h3>Availability</h3>
            <p>Face-to-face (social distancing compliant) consultation throughout Bedfordshire, Hertfordshire and London. However, due to current issues we can work equally well remotely. Work can be carried out via video call, secure file transfer for digital resources and online billing capabilities so safety can be maintained. </p>
        </div>
        <div class="col-sm-12 col-md-6 text-left" id="about">
            <h3>For the Technically minded</h3>
            <p>We have experience working with </p>
            <ul>
                <li>HTML, CSS, JavaScript, jQuery, Bootstrap, </li>
                <li>Writing and running Node.js, NPM, Express applications</li>
                <li>Database management with Mongodb, SQL, noSQL</li>
                <li>AWS (Amazon Web Services)
                    <ul style="PADDING-LEFT: 50px">
                    <li>       Registering a new domain name</li>
                    <li>       generating DNS Certificates</li>
                    <li>       Setting up Mail Client for new domain</li>
                    <li>       Launching Node.js Express server with Elastic Beanstalk
                        <ul style="PADDING-LEFT: 50px">
                            <li>            With load balancing</li>
                        </ul style="PADDING-LEFT: 50px">
                    </li>
                    <li>        Setting up CodePipeline between GITHub and Elastic Beanstalk server for automated updates.</li>
                    </ul>
                </li>
                <li>Register site with Google search console
                    <ul style="PADDING-LEFT: 50px">
                        <li>Including DNS link in domain hosted zone</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    
  </section>

<%- include("partials/footer") %>