<%- include("partials/header") %>
<section  class="container">
    <canvas id="myCanvas" resize></canvas>
    <div class="container">
      <h1>About</h1>
      
    </div>
    <div class="row text-centre p-0">
        <div class="col-sm-12 col-md-6" id="about">
            <h3>About us</h3>
            <p>It has been said that our role in life is to leave the world, and every situation, a little better than it was when we arrived. Everyone at Blue Marble Web Design work tirelessly to improve our client’s digital footprint. We seek to fully understand your organisation’s core reason for doing what you which enables us to effectively become part of your organisation for a while. Working this way will maximise your website’s impact. </p>
        </div>
        <div class="col-sm-12 col-md-6" id="about">
            <h3>The original Blue Marble</h3>
            <p>An Awe Inspiring Inspiration.</p>
            <a href="/"><img src="https://cdn.worldsciencefestival.com/wp-content/uploads/2015/07/bluemarble_1972.jpg" class="img-responsive" alt="origional blue marble"></a>
        </div>
    </div>
    <div class="row text-block p-0">
        <div class="col-sm-12 col-md-6" id="about">
            <h3>Availability</h3>
            <p>Face-to-face (social distancing compliant) consultation throughout Bedfordshire, Hertfordshire and London. However, due to current issues we can work equally well remotely. Work can be carried out via video call, secure file transfer for digital resources and online billing capabilities so safety can be maintained. </p>
        </div>
        <div class="col-sm-12 col-md-6 text-left" id="about">
            <h3>For the Technically minded</h3>
            <p>We have experience working with </p>
            <ul>
                <li>HTML, CSS, JavaScript</li>
                <li>Writing and running Node.js applications locally on pc</li>
                <li>AWS (Amazon Web Services)
                    <ul style="PADDING-LEFT: 50px">
                    <li>        Registering a new domain name</li>
                    <li>       generating DNS Certificates</li>
                    <li>       Setting up Mail Client for new domain</li>
                    <li>       Launching Node.js Express server with Elastic Beanstalk
                        <ul style="PADDING-LEFT: 50px">
                            <li>            With load balancing</li>
                        </ul style="PADDING-LEFT: 50px">
                    </li>
                    <li>        Setting up CodePipeline between GITHub and Elastic Beanstalk server</li>
                    </ul>
                </li>
                <li>Register site with Google search console
                    <ul style="PADDING-LEFT: 50px">
                        <li>Including DNS link in domain hosted zone</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    
  </section>

<%- include("partials/footer") %>