<%- include("partials/header") %>
<section id="about" class="container  w-75">
    <canvas id="myCanvas" resize></canvas>
    <div class="container">
      <h1>About</h1>
      <p>about me</p>
      <p>availability</p>
      <p>what else do I do</p>
      <p>who I work with</p>
      <p>Testimonial</p>
    </div>
  </section>

<%- include("partials/footer") %>