<%- include("partials/header") %>


<section id="contact" class="container  w-75">
  <canvas id="myCanvas" resize></canvas>
  <div class="container">
    <h1>Contact</h1>
    <p>I am eager to help you with your Website design needs, so please get in contact.</p>
    
    <a href="#footer"><img src="/images/connect_Vector.jpg" alt="blue marble webdesign contacts" class="cardimg"></a>
    <a href="#footer">Find out more</a>
  </div>

</section>

    <%- include("partials/footer") %>