<%- include("partials/header") %>
<section id="home" class="container">
      <canvas id="myCanvas" resize></canvas>
      <div class="container">
        <img src="/images/Logo.png" class="logo">  
        <h1>Blue Dot Web Design</h1>
        <hr>
        <h2>Freelance Web Designs</h2>
        <p id="indexp">So, it's <span id="hour">hour</span>:<span id="minutes">minutes</span> on a <span id="day">day</span> <span id="timeOfDay">evening</span>  and you need an eye-catching website that looks amazing to your users. Blue Dot Web Design specializes in responsive, stylish and intuitive websites that will really show off your business to your online users.</p>
      </div>
            <div class="container">
                  <h2>Types of Website</h2>
                  <hr>
                  <div class="row text-center  p-0">
                        <div class="col-md-3 col-sm-12 p-0">
                              <img class="thumb1" src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Landing Pages">
                        </div>
                        <div class="col-md-3 col-sm-12 p-0" id="square1">
                              <div class="h-100" style="width: 100%;">
                                    <div class="card-body h-100 ">
                                      <h5 class="card-title mt-3">Landing Pages</h5>
                                      <p class="card-text">Simple pages designed to capture users attention and call them to action.</p>
                                      <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#Modal1">Find out more</button>   
                                    </div>
                                  </div>
                        </div>
                        <div class="col-md-3 col-sm-12 p-0">
                              <img class="thumb1" src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1002&q=80" alt="Static Webpages">
                        </div>
                        <div class="col-md-3 col-sm-12 p-0" id="square2">
                              <div class="h-100" style="width: 100%;">
                                    <div class="card-body h-100 ">
                                      <h5 class="card-title mt-3">Static Websites</h5>
                                      <p class="card-text">Websites with one, more or many pages but that look the same to anyone visiting.</p>
                                      <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#Modal2">Find out more</button>   
                                    </div>
                                  </div>
                        </div>
                  </div>
                  <div class="row text-center  p-0">
                        <div class="col-md-3 col-sm-12 p-0 order-md-2">
                              <img class="thumb1" src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="CMS Websites">
                        </div>
                        <div class="col-md-3 col-sm-12 p-0 order-md-1" id="square3">
                              <div class="h-100" style="width: 100%;">
                                    <div class="card-body h-100 ">
                                      <h5 class="card-title mt-3">CMS Websites</h5>
                                      <p class="card-text">Multi-page sites managed by some background program that change depending on users interactions.</p>
                                      <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#Modal3">Find out more</button>   
                                    </div>
                              </div>
                        </div>
                        <div class="col-md-3 col-sm-12 p-0 order-md-4">
                              <img class="thumb1" src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="eCommerce web design">
                        </div>
                        <div class="col-md-3 col-sm-12 p-0 order-md-3" id="square4">
                              <div class="h-100" style="width: 100%;">
                                    <div class="card-body h-100 ">
                                      <h5 class="card-title mt-3">eCommerce Websites</h5>
                                      <p class="card-text">Multi page sites that can effectivley manage transfer of goods, funds or data.</p>
                                      <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#Modal4">Find out more</button>   
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="modal fade" id="Modal1" role="dialog">
                  <div class="modal-dialog">
                  <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">A landing page is a standalone web page that has:</h4>
                      </div>
                      <div class="modal-body">
                        <p>Some brief text promoting a single product, service, or a marketing event. It can include information about a lead magnet, e.g. a guide, report, or a video. You can share it with site visitors in exchange for their contact information.</p>
                        <p>A contact form or call to action (CTA) button to encourage people to take advantage of the offer. In fact, turning site visitors to subscribers is the main goal of a landing page.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    
                  </div>
            </div>
            <div class="modal fade" id="Modal2" role="dialog">
                  <div class="modal-dialog">
                  <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">A Static Website is one that has:</h4>
                      </div>
                      <div class="modal-body">
                        <p>A static website contains Web pages with fixed content. Each page is coded in HTML and displays the same information to every visitor. Static sites are the most basic type of website.</p>
                        <p>Unlike dynamic websites, they do not require any Web programming or database design. A static site can be built by simply creating a few HTML pages and publishing them to a Web server.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    
                  </div>
            </div>
            <div class="modal fade" id="Modal3" role="dialog">
                  <div class="modal-dialog">
                  <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Content Management Sites typically are: </h4>
                      </div>
                      <div class="modal-body">
                        <p>Software application or set of related programs that are used to create and manage digital content such as user profiles, posts, blogs, comments and much more. They are usually ECM or WCM.</p>
                        <p>An ECM facilitates collaboration in the workplace by integrating document management, digital asset management and records retention functionalities, and providing end users with role-based access to the organization's digital assets. A WCM facilitates collaborative authoring for websites.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    
                  </div>
            </div>
            <div class="modal fade" id="Modal4" role="dialog">
                  <div class="modal-dialog">
                  <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">eCommerce, also known as electronic commerce:</h4>
                      </div>
                      <div class="modal-body">
                        <p>Refers to the buying and selling of goods or services using the internet, and the transfer of money and data to execute these transactions. </p>
                        <p>eCommerce is often used to refer to the sale of physical products online, but it can also describe any kind of commercial transaction that is facilitated through the internet.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    
                  </div>
            </div>
      </div>
            <div class="container ">
                  <h2>What Makes a Good Website?</h2>
                  <hr>
                  <nav class="nav nav-tabs nav-justified">
                        <a class="nav-item nav-link" data-toggle="tab" href="#menu4"><i class="fas fa-digital-tachograph"></i></a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#menu1"><i class="fas fa-tachometer-alt"></i></a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#menu2"><i class="fas fa-tablet-alt"></i></a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#menu3"><i class="fab fa-searchengin"></i></a>
                      </nav>
                      
                      <div class="tab-content">
                              <div id="menu4" class="tab-pane fade  in show active">
                                    <div class="row text-center  p-0">
                                          <div class="col-lg-6  p-0">
                                                <h3>Modern Design</h3>
                                                <p class="card-text">Your Website reflects your business and the last thing you want is for it to look outdated. At Blue Dot Web Design we are always keeping abreast of the current trends and styles used on websites of all sorts.</p>
                                          </div>  
                                          <div class="col-lg-6  p-0">
                                                <img class="imgthumbnail  " src="https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Web Design">
                                          </div>  
                                    </div>                         
                              </div>
                              <div id="menu1" class="tab-pane fade">
                                    <div class="row text-center  p-0">
                                          <div class="order-2 col-lg-6  p-0">
                                                <h3>Visitor Stats</h3>
                                                <p class="card-text">To be able to turn your Website into a true asset, an organisation needs to be able to analyse and understand how its website works and if it is actually driving business to or away.</p>
                                          </div>  
                                          <div class="order-1 col-lg-6  p-0">
                                                <img class="imgthumbnail  " src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Web Design">
                                          </div>  
                                    </div>
                              </div>
                              <div id="menu2" class="tab-pane fade">
                                    <div class="row text-center p-0">
                                          <div class="col-lg-6  p-0">
                                                <h3>Responsive</h3>
                                                <p class="card-text">Well over 50% of Web activity happens through hand held devices these days and having a site that looks as good on a mobile as it does on a computer screen is very important.</p>
                                          </div>  
                                          <div class="col-lg-6  p-0">
                                                <img class="imgthumbnail " src="https://images.unsplash.com/photo-1494438962902-112e52e2919a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="Web Design">
                                          </div>  
                                    </div>
                              </div>
                              <div id="menu3" class="tab-pane fade">
                                    <div class="row text-center  p-0">
                                          <div class="order-2 col-lg-6  p-0">
                                                <h3>SEO Enabled</h3>
                                                <p class="card-text">Search engines such as Google have a profound influence on the effectiveness of a website so their design needs to be optimised so that search engines always deliver your site to your intended users.</p>
                                          </div>  
                                          <div class="order-1  col-lg-6  p-0">
                                                <img class="imgthumbnail " src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Web Design">
                                          </div>  
                                    </div>
                              </div>
                      </div>                 
            </div>
</section>

    <%- include("partials/footer") %>
   