<%- include("partials/header") %>

<div class="legal">
</style><div id="iu390inlineContent-gridWrapper" data-mesh-internal="true"><div id="iu390inlineContent-gridContainer" data-mesh-internal="true"><div data-packed="true" data-vertical-text="false" style="top:;bottom:;left:;right:;width:972px;height:auto;position:;pointer-events:none" class="txtNew" id="comp-k20wdb93"><p class="font_8" style="font-size:25px;"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span style="font-size:25px;">A. Introduction</span></span></span></p>

<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">The privacy of our website visitors is very important to us, and we are committed to safeguarding it. This policy explains what we will do with your personal information.</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Consenting to our use of cookies in accordance with the terms of this policy when you first visit our website permits us to use cookies every time you visit our website.</span></span></p>
	</li>
</ol>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span class="wixGuard">​</span></span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span style="font-size:25px;">B. Credit</span><br />
This document was created using a template from SEQ Legal (seqlegal.com)<br />
and modified by Website Planet (<span style="text-decoration:underline;"><a href="https://www.websiteplanet.com" target="_blank" data-content="https://www.websiteplanet.com" data-type="external" rel="noopener">www.websiteplanet.com</a></span>)</span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span class="wixGuard">​</span></span></span></p>

<p class="font_8" style="font-size:25px;"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span style="font-size:25px;">C. Collecting personal information</span></span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">The following types of personal information may be collected, stored, and used:</span></span></p>

<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">information about your computer including your IP address, geographical location, browser type and version, and operating system;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">information about your visits to and use of this website including the referral source, length of visit, page views, and website navigation paths;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">information, such as your email address, that you enter when you register with our website;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">information that you enter when you create a profile on our website&mdash;for example, your name, profile pictures, gender, birthday, relationship status, interests and hobbies, educational details, and employment details;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">information, such as your name and email address, that you enter in order to set up subscriptions to our emails and/or newsletters;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">information that you enter while using the services on our website;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">information that is generated while using our website, including when, how often, and under what circumstances you use it;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">information relating to anything you purchase, services you use, or transactions you make through our website, which includes your name, address, telephone number, email address, and credit card details;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">information that you post to our website with the intention of publishing it on the internet, which includes your username, profile pictures, and the content of your posts;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">information contained in any communications that you send to us by email or through our website, including its communication content and metadata;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">any other personal information that you send to us.</span></span></p>
	</li>
</ol>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Before you disclose to us the personal information of another person, you must obtain that person&rsquo;s consent to both the disclosure and the processing of that personal information in accordance with this policy</span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span class="wixGuard">​</span></span></span></p>

<p class="font_8" style="font-size:25px;"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span style="font-size:25px;">D. Using your personal information</span></span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Personal information submitted to us through our website will be used for the purposes specified in this policy or on the relevant pages of the website. We may use your personal information for the following:</span></span></p>

<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">administering our website and business;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">personalizing our website for you;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">enabling your use of the services available on our website;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">sending you goods purchased through our website;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">supplying services purchased through our website;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">sending statements, invoices, and payment reminders to you, and collecting payments from you;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">sending you non-marketing commercial communications;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">sending you email notifications that you have specifically requested;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">sending you our email newsletter, if you have requested it (you can inform us at any time if you no longer require the newsletter);</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">sending you marketing communications relating to our business or the businesses of carefully-selected third parties which we think may be of interest to you, by post or, where you have specifically agreed to this, by email or similar technology (you can inform us at any time if you no longer require marketing communications);</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">providing third parties with statistical information about our users (but those third parties will not be able to identify any individual user from that information);</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">dealing with inquiries and complaints made by or about you relating to our website;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">keeping our website secure and prevent fraud;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">verifying compliance with the terms and conditions governing the use of our website (including monitoring private messages sent through our website private messaging service); and</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">other uses.</span></span></p>
	</li>
</ol>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">If you submit personal information for publication on our website, we will publish and otherwise use that information in accordance with the license you grant to us.</span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Your privacy settings can be used to limit the publication of your information on our website and can be adjusted using privacy controls on the website.</span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">We will not, without your express consent, supply your personal information to any third party for their or any other third party&rsquo;s direct marketing.</span></span></p>

<p class="font_8" style="font-size:25px;">&nbsp;</p>

<p class="font_8" style="font-size:25px;"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span style="font-size:25px;">E. Disclosing personal information</span></span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">We may disclose your personal information to any of our employees, officers, insurers, professional advisers, agents, suppliers, or subcontractors as reasonably necessary for the purposes set out in this policy.</span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">We may disclose your personal information to any member of our group of companies (this means our subsidiaries, our ultimate holding company and all its subsidiaries) as reasonably necessary for the purposes set out in this policy.</span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">We may disclose your personal information:</span></span></p>

<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">to the extent that we are required to do so by law;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">in connection with any ongoing or prospective legal proceedings;</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">in order to establish, exercise, or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">to the purchaser (or prospective purchaser) of any business or asset that we are (or are contemplating) selling; and</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.</span></span></p>
	</li>
</ol>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Except as provided in this policy, we will not provide your personal information to third parties.</span></span></p>

<p class="font_8" style="font-size:25px;">&nbsp;</p>

<p class="font_8" style="font-size:25px;"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span style="font-size:25px;">F. International data transfers</span></span></span></p>

<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Information that we collect may be stored, processed in, and transferred between any of the countries in which we operate in order to enable us to use the information in accordance with this policy.</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Information that we collect may be transferred to the following countries which do not have data protection laws equivalent to those in force in the European Economic Area: the United States of America, Russia, Japan, China, and India.</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Personal information that you publish on our website or submit for publication on our website may be available, via the internet, around the world. We cannot prevent the use or misuse of such information by others.</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">You expressly agree to the transfers of personal information described in this Section F.</span></span></p>
	</li>
</ol>

<p class="font_8" style="font-size:25px;">&nbsp;</p>

<p class="font_8" style="font-size:25px;"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span style="font-size:25px;">G. Retaining personal information</span></span></span></p>

<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">This Section G sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations regarding the retention and deletion of personal information.</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Personal information that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Without prejudice to article G-2, we will usually delete personal data falling within the categories set out below at the date/time set out below:</span></span></p>

	<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
		<li>
		<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">personal data type will be deleted After 2 years of submission if no subsequent interaction; and</span></span></p>
		</li>
		<li>
		<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">After 2 years of last interaction.</span></span></p>
		</li>
	</ol>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Notwithstanding the other provisions of this Section G, we will retain documents (including electronic documents) containing personal data:</span></span></p>

	<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
		<li>
		<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">to the extent that we are required to do so by law;</span></span></p>
		</li>
		<li>
		<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">if we believe that the documents may be relevant to any ongoing or prospective legal proceedings; and</span></span></p>
		</li>
		<li>
		<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">in order to establish, exercise, or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk).</span></span></p>
		</li>
	</ol>
	</li>
</ol>

<p class="font_8" style="font-size:25px;">&nbsp;</p>

<p class="font_8" style="font-size:25px;"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span style="font-size:25px;">H. Security of your personal information</span></span></span></p>

<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">We will take reasonable technical and organizational precautions to prevent the loss, misuse, or alteration of your personal information.</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">We will store all the personal information you provide on our secure (password- and firewall-protected) servers.</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">All electronic financial transactions entered into through our website will be protected by encryption technology.</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</span></span></p>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">You are responsible for keeping the password you use for accessing our website confidential; we will not ask you for your password (except when you log in to our website).</span></span></p>
	</li>
</ol>

<p class="font_8" style="font-size:25px;">&nbsp;</p>

<p class="font_8" style="font-size:25px;"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span style="font-size:25px;">I. Amendments</span></span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">We may update this policy from time to time by publishing a new version on our website. You should check this page occasionally to ensure you understand any changes to this policy. We may notify you of changes to this policy by email or through the private messaging system on our website.</span></span></p>

<p class="font_8" style="font-size:25px;">&nbsp;</p>

<p class="font_8" style="font-size:25px;"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span style="font-size:25px;">J. Third party websites</span></span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Our website includes hyperlinks to, and details of, third party websites. We have no control over, and are not responsible for, the privacy policies and practices of third parties.</span></span></p>

<p class="font_8" style="font-size:25px;">&nbsp;</p>

<p class="font_8" style="font-size:25px;"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span style="font-size:25px;">K. Updating information</span></span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Please let us know if the personal information that we hold about you needs to be corrected or updated.</span></span></p>

<p class="font_8" style="font-size:25px;"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;"><span style="font-size:25px;">L. Cookies</span></span></span></p>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Our website uses cookies. A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server. Cookies may be either &ldquo;persistent&rdquo; cookies or &ldquo;session&rdquo; cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed. Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies. {SELECT ACCURATE PHRASING We use only session cookies / only persistent cookies / both session and persistent cookies on our website.}</span></span></p>

<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">The names of the cookies that we use on our website, and the purposes for which they are used, are set out below:</span></span></p>

	<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
		<li>
		<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">we use Google Analytics and Adwords on our website to recognize a computer when a user visits the website / track users as they navigate the website / enable the use of a shopping cart on the website / improve the website&rsquo;s usability / analyze the use of the website / administer the website / prevent fraud and improve the security of the website / personalize the website for each user / target advertisements which may be of particular interest to specific users / describe purpose(s)};</span></span></p>
		</li>
	</ol>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Most browsers allow you to refuse to accept cookies&mdash;for example:</span></span></p>

	<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
		<li>
		<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">in Internet Explorer (version 10) you can block cookies using the cookie handling override settings available by clicking &ldquo;Tools,&rdquo; &ldquo;Internet Options,&rdquo; &ldquo;Privacy,&rdquo; and then &ldquo;Advanced&rdquo;;</span></span></p>
		</li>
		<li>
		<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">in Firefox (version 24) you can block all cookies by clicking &ldquo;Tools,&rdquo; &ldquo;Options,&rdquo; &ldquo;Privacy,&rdquo; selecting &ldquo;Use custom settings for history&rdquo; from the drop-down menu, and unticking &ldquo;Accept cookies from sites&rdquo;; and</span></span></p>
		</li>
		<li>
		<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">in Chrome (version 29), you can block all cookies by accessing the &ldquo;Customize and control&rdquo; menu, and clicking &ldquo;Settings,&rdquo; &ldquo;Show advanced settings,&rdquo; and &ldquo;Content settings,&rdquo; and then selecting &ldquo;Block sites from setting any data&rdquo; under the &ldquo;Cookies&rdquo; heading.</span></span></p>
		</li>
	</ol>
	</li>
</ol>

<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Blocking all cookies will have a negative impact upon the usability of many websites. If you block cookies, you will not be able to use all the features on our website.</span></span></p>

<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">You can delete cookies already stored on your computer&mdash;for example:</span></span></p>

	<ol class="font_8" style="color:rgb(0, 0, 0); font-family:asimon-aaa-400, sans-serif;">
		<li>
		<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">in Internet Explorer (version 10), you must manually delete cookie files (you can find instructions for doing so at <span style="text-decoration:underline;"><a href="http://support.microsoft.com/kb/278835" target="_blank" data-content="http://support.microsoft.com/kb/278835" data-type="external" rel="noopener">http://support.microsoft.com/kb/278835</a></span> );</span></span></p>
		</li>
		<li>
		<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">in Firefox (version 24), you can delete cookies by clicking &ldquo;Tools,&rdquo; &ldquo;Options,&rdquo; and &ldquo;Privacy&rdquo;, then selecting &ldquo;Use custom settings for history&rdquo;, clicking &ldquo;Show Cookies,&rdquo; and then clicking &ldquo;Remove All Cookies&rdquo;; and</span></span></p>
		</li>
		<li>
		<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">in Chrome (version 29), you can delete all cookies by accessing the &ldquo;Customize and control&rdquo; menu, and clicking &ldquo;Settings,&rdquo; &ldquo;Show advanced settings,&rdquo; and &ldquo;Clear browsing data,&rdquo; and then selecting &ldquo;Delete cookies and other site and plug-in data&rdquo; before clicking &ldquo;Clear browsing data.&rdquo;</span></span></p>
		</li>
	</ol>
	</li>
	<li>
	<p class="font_8"><span style="font-family:asimon-aaa-400,sans-serif;"><span style="color:#ffffff;">Deleting cookies will have a negative impact on the usability of many websites.</span></span></p>
	</li>
</ol>


</div>
</div>
</div>
</div>



<%- include("partials/footer") %>