<%- include("partials/header") %>
<section id="portfolio" class="container  w-75">
    <canvas id="myCanvas" resize></canvas>
    <div class="container">
      <h1>Portfolio</h1>
      <p>A SELECTED RANGE OF WORK FROM THIS FREELANCE WEB DESIGNER</p>
      <div class="row text-center container justify-content-around p-0" id="portfolio">
        <div class="card col-lg-3 col-md-5 col-sm-12 m-0 p-0" id="efakt">
          <div class="card-body">
            <h5 class="card-title">eFAKT </h5>
            <h6 class="card-subtitle mb-2 text-muted">First Aid Provider</h6>
            <p class="card-text">This is a landing page with an integrated MailChimp data collection form for a First Aid Training provider. Part of the brief was that it needed to be responsive and look great on mobile devices as well as big screens.</p>
            <a href="https://www.efakt.co.uk" class="card-link">Link to site</a>
          </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-sm-12 m-0 p-0" id="astroexp">
            <div class="card-body">
              <h5 class="card-title">An Astronaut Experience</h5>
              <h6 class="card-subtitle mb-2 text-muted">An Experience Provider</h6>
              <p class="card-text">This is multipage website designed and deployed on WIX. It includes an immersive 3D effect with great looking video features. There is an active signup system that captures user information and automatically Emails out a response. </p>
              <a href="https://www.anastronautexperience.com" class="card-link">Link to site</a>
            </div>
          </div>
      <div class="card col-lg-3 col-md-5 col-sm-12 m-0 p-0" id="bmwd">
        <div class="card-body">
          <h5 class="card-title">Blue Marble Web Design</h5>
          <h6 class="card-subtitle mb-2 text-muted">This Website</h6>
          <p class="card-text">This website was coded line by line in HTML, CSS and Javascript and deployed on a Node.js/Express server hosted on the Amazon Web Services platform.  </p>
          <a href="/" class="card-link">Link to site</a>
        </div>
      </div>
      </div>
  </div>
    </div>

  </section>

<%- include("partials/footer") %>