<%- include("partials/header") %>
  
    <div class="container m-auto" id="pricingContainer">
      <div class="row text-center container m-auto ">
        <div class="col-md-6 col-sm-12 m-auto ">
          <h1>How much does it cost to get a good website?</h1>
        <p>        
            Agencies will often be cagey about the potential cost of a project and insist on a lot of up-front discussion and back and forth before committing to a pricing agreement which maximises their potential profit from a new customer. BM Web design prefers to be up front with project costing in an effort to be as candid as possible. There may be aspects of projects that occasionally pop up that will cause additional costs but they are few and far between and we will always be frank and honest if this does happen. Being upfront about scope-creep will be our promise to you.
        </p>
        <h2>How much does a website cost these days?</h2>
        <hr>
        <p>
            You can expect to pay between £2,500 – £5,000 for a bespoke brochure site built on a CMS (content management system) like WordPress. The cost will be less if the website is simpler and, naturally, it will be more if you need to add the capability of managing a database of users and or products for an online shop. 
        </p>
        </div>
        <div class="col-md-6 col-sm-12 m-auto ">
          <img src="https://i.ibb.co/KW2FnXc/Logo.png" width=70% alt="Blue Dot Web Design Logo" id="bmlogo">
        </div>
      </div>
      <div class="row text-center container m-auto">
        <div class="col-md-6 col-sm-12 m-auto ">
          <img src="https://i.ibb.co/KW2FnXc/Logo.png" width=70% alt="Blue Dot Web Design Logo"id="bmlogo">
        </div>
        <div class="col-md-6 col-sm-12 m-auto ">
          <h2>
            But, surely I can work out how to do it myself?</h2>
        <hr>
        <p>
            You’ve probably heard of Wix and Squarespace and we at Blue Dot have a lot of experience creating sites using these powerful tools. However, we know that for most people it can be a slow and painful learning experience to produce even a basic site that you may not even be happy with as a professional website.  
        </p>
        <p>
          Do you have the time, energy and resources in your already hectic schedule to learn these new skills? If not, why not allow us to take on that burden and do what we are good at and create your web vision for you? Let us turn a slow and painful process into something fresh, easy and breezy with outstanding results.
        </p>
        </div>
      </div>
      <div class="row text-center container m-auto">
        <div class="col-md-6 col-sm-12 m-auto ">
          <h2>What are the different types of websites?</h2>
          <hr>
          <p>Usually, the type of website you require depends on your needs, these can usually be broken down into:</p>
          <dl>
              <dt>Static Sites & Landing Pages</dt>
              <dd>- Essential for even the smallest enterprise, these tell your visitors who you are and what you can do for them. They also provide all your essential contact details and can let customers contact you directly with a single click.”</dd>
              <dt>CMS (Content Management System) sites </dt>
              <dd>- If you need a website that allows users to create profiles, submit comments or anything where information from them needs to be stored and used in some way then a CMS site is what you are after. And when handling user data in this way you need to be sure you are confirming with all data regulations, such as GDPR, and we can help you ensure your site is compliant. </dd>
              <dt>eCommerce Sites.</dt>
              <dd>- As well as managing user information, you might also need to manage a database of products like an online shop for which you’ll need an eCommerce platform. Depending on the size of your online offering, these sites can become very large and complicated but we can work with you to ensure you only need to worry about your products and not the machinery behind your website.</dd>
          </dl>
        </div>
        <div class="col-md-6 col-sm-12 m-auto ">
          <img src="https://i.ibb.co/KW2FnXc/Logo.png" width=70% alt="Blue Dot Web Design Logo" id="bmlogo">
        </div>
      </div>
      <div class="row text-center container m-auto">
        <div class="col-md-6 col-sm-12 m-auto ">
          <img src="https://i.ibb.co/KW2FnXc/Logo.png" width=70% alt="Blue Dot Web Design Logo" id="bmlogo">
        </div>
        <div class="col-md-6 col-sm-12 m-auto ">
          <h2>How much do different types of site cost?</h2>
        <hr>
        <p>If you do some research you will find a broad range of pricing and we have taken the time to ensure that our pricing is competitive as we can make it. If you compare our pricing profile to large agencies, you will find our pricing is at the most competitive end of the range and we will never outsource work to third-party companies in other countries. </p>
        
        <table class="table table-striped align-middle">
            <tr>
              <th scope="col">Type of Website</th>
              <th scope="col">Cost Range</th> 
            </tr>
            <tr>
              <td>Static Sites & Landing Pages</td>
              <td>£750 – £5,000</td> 
            </tr>
            <tr>
              <td>CMS  Web Sites </td>
              <td>£2,500 – £10,000</td>
            </tr>
            <tr>
                <td>eCommerce Web Sites </td>
                <td>£4,000 – £25,000</td>
              </tr>
        </table>
        </div>
      </div>
      <div class="row text-center container m-auto ">
        <div class="col-md-6 col-sm-12 anileft">
          <h2>How long does it take to design a website?</h2>
        <hr>
        <p>A typical bespoke website will take 4 – 8 weeks to complete and we will give our best realistic estimate after consultation with you. It certainly helps if you have much of your content prepared, such as brochure copy, staff profiles, images and product descriptions. Whilst we encourage a clearly defined project, we are flexible and can respond to your changing needs with several design iterations. So, if you see our early designs and want to expand your initial site, we are happy to amend the project and will advise a new estimated time for completion. All projects may experience creep, but we are ready to adapt to produce the best possible site for your enterprise.
        </p>
        <table class="table  table-striped align-middle">
            <tr>
              <th scope="col">Type of Website</th>
              <th scope="col">Project Duration</th> 
            </tr>
            <tr>
              <td>Static Sites & Landing Pages</td>
              <td>2 – 4 Weeks</td> 
            </tr>
            <tr>
              <td>CMS Web Sites </td>
              <td>4 – 8 Weeks</td>
            </tr>
            <tr>
                <td>eCommerce Web Sites </td>
                <td>8 – 24 Weeks</td>
              </tr>
        </table>
        <hr>
        </div>
        <div class="col-md-6 col-sm-12 aniright">
          <img src="https://i.ibb.co/KW2FnXc/Logo.png" width=70% alt="Blue Dot Web Design Logo" id="bmlogo">
        </div>
      </div>
        
        
    </div>
          
          
    <%- include("partials/footer") %>