<%- include("partials/header") %>
    
<section id="services" class="container w-75">
<canvas id="myCanvas" resize></canvas>
  <h1>Services</h1>
  <p>Blue Marble Web Design can help you with the following:</p>
  <div class="row text-center container " id="servicesOffered">
    <div class="card col-md-4 col-sm-6 ">
        <img src="/images/tech_Vector.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Static Websites & landing pages</h5>
          <p class="card-text">Great looking websites that tell the world about what you do and why you are here.</p>
        </div>
      </div>
      <div class="card col-md-4 col-sm-6 ">
        <img src="/images/web_Vector.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Content Management Systems</h5>
          <p class="card-text">Flexible and repsonsive platforms to gather and utilise your audience's information to help grow your business. </p>  
        </div>
      </div>
      <div class="card col-md-4 col-sm-6 ">
        <img src="/images/inter_Vector.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">eCommerce</h5>
          <p class="card-text">Sexy looking online shop with all the capabilities needed to manage customers, promote products, process transactions and more.</p>
        </div>
      </div>
      <a href="/pricing" id="serviceButton" class="btn btn-primary w-100">OK, So tell me more like how much do websites cost?</a>
  </div>


  <p>Who needs Blue Marble Web Design?</p>
  <div class="row text-center container " id="servicesOffered">
    <div class="card col-md-4 col-sm-6 ">
        <img src="https://images.unsplash.com/photo-1491897554428-130a60dd4757?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="card-img-top" alt="web deesign for startups">
        <div class="card-body">
          <h5 class="card-title">Start-ups</h5>
          <p class="card-text">You're just getting going with a business idea and you need to tell the World about it. Get in touch and we'll make your new business shine.</p>
        </div>
      </div>
      <div class="card col-md-4 col-sm-6 ">
        <img src="https://images.unsplash.com/photo-1573409852550-139898a59fa0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="card-img-top" alt="web design for companies">
        <div class="card-body">
          <h5 class="card-title">Companies</h5>
          <p class="card-text">Perhaps you've had a website for a while now but really needs updating with a fresh, modern look. Your website is the face of your organisation and you want to make a great first impression.</p>  
        </div>
      </div>
      <div class="card col-md-4 col-sm-6 ">
        <img src="https://images.unsplash.com/photo-1536104968055-4d61aa56f46a?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" class="card-img-top" alt="web design agency">
        <div class="card-body">
          <h5 class="card-title">Agencies</h5>
          <p class="card-text">If you are a design agency working at capacity and need a trusted partner to outsource projects, you can rely on Blue Marble to deliver your clients’ requirements on time and to the highest standards.</p>
        </div>
      </div>
      <a href="#footer" id="serviceButton" class="btn btn-primary w-100">Okay, so tell me more, how do I get in touch?</a>
  </div>
</section>

<%- include("partials/footer") %>